:root {
  --section-fade-in-length: 1.75s;
}

#application {
  width: 100%;
  display: grid;
  row-gap: 10px;
  grid-template-rows: min-content;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-bottom: 4px;
}

/* Monospace font for p tags, sans-serif for everything else */
p {
  font-family: monospace;
}
* {
  font-family: sans-serif;
}

a {
  color: #5b84a7;
  text-decoration: none;
  font-family: monospace;
  display: block;
}

li > a:hover {
  padding-left: 4px;
  transition: 0.25s;
}

.section:nth-child(1) {
  /* fade in */
  opacity: 0;
  animation: fadeIn var(--section-fade-in-length, 1.75s) forwards;
}
.section:nth-child(2) {
  /* fade in */
  opacity: 0;
  animation: fadeIn var(--section-fade-in-length, 1.75s) forwards;
  animation-delay: 0.25s;
}
.section:nth-child(3) {
  /* fade in */
  opacity: 0;
  animation: fadeIn var(--section-fade-in-length, 1.75s) forwards;
  animation-delay: 0.5s;
}

.footer {
  opacity: 0;
  animation: fadeIn var(--section-fade-in-length, 2s) forwards;
  animation-delay: 0.75s;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
